<nz-breadcrumb>
  <nz-breadcrumb-item>Finanças</nz-breadcrumb-item>
  <nz-breadcrumb-item>Registrar</nz-breadcrumb-item>
</nz-breadcrumb>

<form nz-form [formGroup]="expensesForm" class="expenses-form">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor selecione o mês da despesa!">
          <nz-date-picker nzMode="month" formControlName="month" nzFormat="MMMM"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor insira o nome da despesa!">
          <input type="text" nz-input formControlName="name" placeholder="Nome" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="7">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor insira o valor da despesa!">
          <input type="text" nz-input formControlName="value" placeholder="R$ 0,00" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="7">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor selecione a fonte de pagamento da despesa!">
          <nz-select formControlName="paymentSource" nzShowSearch nzAllowClear nzPlaceHolder="Selecione uma fonte">
            <nz-option nzLabel="Sal. Marcio" nzValue="Sal. Marcio"></nz-option>
            <nz-option nzLabel="Pensão Wanda" nzValue="Pensão Wanda"></nz-option>
            <nz-option nzLabel="Créd. Santander" nzValue="Créd. Santander"></nz-option>
            <nz-option nzLabel="Créd. Nubank" nzValue="Créd. Nubank"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="7">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor selecione o status de pagamento da despesa!">
          <nz-select formControlName="status" nzShowSearch nzAllowClear nzPlaceHolder="Selecione um status">
            <nz-option nzLabel="Pago" nzValue="Pago"></nz-option>
            <nz-option nzLabel="Pendente" nzValue="Pendente"></nz-option>
            <nz-option nzLabel="Separado" nzValue="Separado"></nz-option>
            <nz-option nzLabel="Cancelado" nzValue="Cancelado"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="2">
      <button nz-button [nzType]="'primary'" (click)="submitForm()">Incluir</button>
    </div>
  </div>
</form>

<nz-table #dynamicTable [nzData]="expenses" nzTableLayout="auto" nzBordered="true" nzSimple="true" nzSize="small">
  <thead>
    <tr>
      <th nzWidth="60px" [(nzChecked)]="allChecked" (nzCheckedChange)="checkAll($event)">
      </th>

      <th>Mês</th>

      <th>Nome</th>

      <th>Valor</th>

      <th>Fonte</th>

      <th>Status</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let expense of dynamicTable.data">
      <tr>
        <td [(nzChecked)]="expense.checked"></td>

        <td>
          <span *ngIf="!expense.isBeingEdited">
            {{ (expense.month | date: 'MMMM':'':'pt') | titlecase }}
          </span>

          <nz-date-picker *ngIf="expense.isBeingEdited" nzMode="month" nzFormat="MMMM"
            [(ngModel)]="expense.month"></nz-date-picker>
        </td>

        <td nzEllipsis="true">
          <span *ngIf="!expense.isBeingEdited">
            {{ expense.name }}
          </span>

          <input *ngIf="expense.isBeingEdited" type="text" nz-input [(ngModel)]="expense.name" placeholder="Nome" />
        </td>

        <td>
          <span *ngIf="!expense.isBeingEdited">
            {{ expense.value | currency:'BRL' }}
          </span>
        </td>

        <td>
          <span *ngIf="!expense.isBeingEdited">
            {{ expense.paymentSource }}
          </span>
        </td>

        <td>
          <span *ngIf="!expense.isBeingEdited">
            {{ expense.status }}
          </span>
        </td>

        <td nzAlign="center">
          <nz-space>
            <button *nzSpaceItem (click)="removeExpense(expense)" nz-button nzType="link">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>

            <ng-container *ngIf="!expense.isBeingEdited">
              <button *nzSpaceItem (click)="toggleEdit(expense)" nz-button nzType="link">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </button>
            </ng-container>

            <ng-container *ngIf="expense.isBeingEdited">
              <button *nzSpaceItem (click)="toggleEdit(expense)" nz-button nzType="link">
                <span nz-icon nzType="save" nzTheme="outline"></span>
              </button>
            </ng-container>
          </nz-space>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="6">
    <button nz-button [nzType]="'primary'" (click)="saveExpenses()" class="mt-3">Salvar</button>
  </div>
</div>