<nz-breadcrumb>
  <nz-breadcrumb-item>Finanças</nz-breadcrumb-item>
  <nz-breadcrumb-item>Registrar</nz-breadcrumb-item>
  <nz-breadcrumb-item>Parâmetros</nz-breadcrumb-item>
  <nz-breadcrumb-item>Status</nz-breadcrumb-item>
</nz-breadcrumb>

<form nz-form [formGroup]="statusesForm" class="statuses-form">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="22">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor insira o nome da renda!">
          <input type="text" nz-input formControlName="name" placeholder="Nome" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="2">
      <button nz-button nzType="primary" (click)="addStatus()">Incluir</button>
    </div>
  </div>
</form>

<nz-table #dynamicTable [nzData]="statuses" nzTableLayout="auto" nzBordered="true" nzSimple="true" nzSize="small">
  <thead>
    <tr>
      <th nzWidth="60px" [(nzChecked)]="isAllChecked" (nzCheckedChange)="checkAll($event)"
        [nzDisabled]="statuses.length === 0 || !!statusBeingEdited">
      </th>

      <th>Nome</th>

      <th nzWidth="60px"></th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let status of dynamicTable.data">
      <tr>
        <td nzWidth="60px" [(nzChecked)]="status.checked" [nzDisabled]="!!statusBeingEdited"
          (nzCheckedChange)="checkIfIsSomeStatusChecked()"></td>

        <td nzEllipsis="true">
          <span *ngIf="statusBeingEdited !== status">
            {{ status.name }}
          </span>

          <input *ngIf="statusBeingEdited === status" type="text" nz-input [(ngModel)]="status.name"
            placeholder="Nome" />
        </td>

        <td nzAlign="center" nzWidth="60px">
          <nz-space>
            <ng-container *ngIf="statusBeingEdited !== status">
              <a *nzSpaceItem nz-popconfirm
                [nzPopconfirmTitle]="'Deseja realmente apagar o item \'' + status.name + '\'?'" [nzIcon]="iconDanger"
                nzOkText="Sim" nzCancelText="Não" (nzOnConfirm)="removeStatus(status)">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </a>
            </ng-container>

            <ng-container *ngIf="statusBeingEdited !== status">
              <button *nzSpaceItem (click)="setstatusBeingEdited(status)" nz-button nzType="link">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </button>
            </ng-container>

            <ng-container *ngIf="statusBeingEdited === status">
              <button *nzSpaceItem (click)="updateEditedStatus(status)" nz-button nzType="link">
                <span nz-icon nzType="save" nzTheme="outline"></span>
              </button>
            </ng-container>
          </nz-space>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<ng-template #iconDanger>
  <span nz-icon nzType="exclamation-circle" style="color: red;"></span>
</ng-template>